@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 5em; }

.border {
  height: 6px;
  border: 0;
  background-color: red;
  background-image: linear-gradient(to right, #e36867, #e36867 25%, #fec952 25%, #fec952 50%, #47b8e0 50%, #47b8e0 75%, #9f68d0 75%, #9f68d0 100%, #9f68d0 100%);
  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 750px;
  max-width: 90%;
  margin: 0 auto; }

.main_header {
  margin: 5em 0 3em 0; }

.logo img {
  float: left; }
.logo h1 {
  float: left;
  margin: 0 0 0 1em;
  text-transform: uppercase;
  font-size: 1.35em;
  padding-top: 1.1em;
  color: #34314c; }
  .logo h1 span {
    font-weight: 400; }

header {
  padding: 5em 0; }

.nav {
  float: right;
  padding-top: 1.7em; }
  .nav a {
    color: #9592ad;
    margin-left: 1em;
    text-decoration: none; }
  .nav .current {
    font-weight: 700;
    color: #34314c; }

#timeline {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0; }
  #timeline a {
    text-decoration: none; }
  #timeline:after {
    content: "";
    width: 1px;
    background: 1px #d9dee9;
    height: 90%;
    position: absolute;
    top: 5em;
    left: 3em;
    z-index: 0; }
  #timeline .listing {
    background: #FFF;
    border: 1px solid #d9dee9;
    border-radius: .3rem;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;
    width: 96%;
    transition: all .3s ease-in-out; }
    #timeline .listing img, #timeline .listing .info, #timeline .listing .job_type {
      display: table-cell;
      vertical-align: middle;
      font-size: .9em;
      color: #9592ad; }
    #timeline .listing .image_wrapper {
      width: 60px; }
      #timeline .listing .image_wrapper img {
        width: 60px;
        display: block;
        margin: 0 auto;
        border-radius: .25em; }
    #timeline .listing .info {
      line-height: 1.25;
      width: 640px;
      padding-left: 25px; }
      #timeline .listing .info .job_title {
        font-weight: 700;
        color: #34314c;
        font-size: 1.5em; }
      #timeline .listing .info .job_info {
        color: #9592ad;
        font-size: .9em;
        display: block; }
        #timeline .listing .info .job_info span {
          margin: 0 .75em; }
    #timeline .listing .job_type {
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75em;
      position: relative;
      white-space: nowrap;
      padding-top: 0.6em;
      width: 100px; }
      #timeline .listing .job_type:before {
        content: " ";
        background: #9f68d0;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: 28px; }
    #timeline .listing .full_time {
      color: #e36867; }
      #timeline .listing .full_time:before {
        background: #e36867; }
    #timeline .listing .part_time {
      color: #fec952; }
      #timeline .listing .part_time:before {
        background: #fec952; }
    #timeline .listing .freelance {
      color: #47b8e0; }
      #timeline .listing .freelance:before {
        background: #47b8e0; }
    #timeline .listing .contract {
      color: #9f68d0; }
      #timeline .listing .contract:before {
        background: #9f68d0; }
    #timeline .listing:hover {
      cursor: pointer;
      box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1); }
  #timeline .date {
    display: inline-block;
    padding: 0.6rem 0;
    width: 100px;
    background: #FFF;
    border: 1px solid #E9E9E9;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 0.65rem;
    text-align: center;
    margin-bottom: 1.5rem;
    z-index: 2;
    position: relative;
    margin: 1em 0 2em 0; }

.load_more {
  text-align: center; }
  .load_more .button {
    border: 2px solid #9f68d0;
    outline: none;
    padding: 1em 3.5em;
    text-align: center;
    background: transparent;
    border-radius: 2em;
    color: #9f68d0; }
